@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Fraunces:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7e9dc;
  min-height: 100vh;
  font-family: 'DM Sans';
}

.main-block{
  height: 600px;
  width: 500px;
}

.block-ballance{
  width: 100%;
  height: 150px;
  background-color: #ec755d;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}

.my-balance{
  margin-left: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.my-balance-title{
  color: white;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 10px;
}

.my-balance-sum{
  color: white;
  font-size: 30px;
  font-weight: 700;
}

img{
  width: 100px;
  margin-right: 40px;
}

.block-diagram{
  width: 100%;
  height: 430px;
  margin-top: 20px;
  background-color: #fffcf7;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-info{
  width: 87%;
  height: 370px;
}

.block-info h2{
  font-weight: 700;
  color: #241103;
  font-size: 30px;
}

.block-gistogram{
  height: 200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  text-align: center;
  align-items: flex-end;
  margin-top: 50px;
}

.block-gistogram-el{
  width: 50px;
  border-radius: 10px;
  height: calc(var(--height-percentage) * 100%);
  background-color: #ec755d;
  position: relative;
  display: flex;
  justify-content: center;
}

.sum-gistogram{
  position: absolute;
  top: -40px;
  display: flex;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  background-color: #381e0d;
  color: white;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.block-gistogram-el:hover .sum-gistogram{
  visibility: visible; 
}

.block-gistogram-el:hover{
  background-color: #b4dfe5;
  cursor: pointer;
  transition: all 0.5s;
}


.border{
  border: 1px solid #f3ece4;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.total-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-month-title,
.total-week-title{
  font-size: 16px;
  color: #8c837a;
}

.total-month-sum,
.total-week-sum{
  font-size: 30px;
  color: #381e0d;
  font-weight: 700;
}

@media (max-width:550px){
  .main-block{
    width: 320px;
  }
  .block-gistogram{
    margin-top: 30px;
    width: 300px;
  }
  .block-gistogram-el{
    width: 20px;
  }
  .border{
    margin-bottom: 10px;
  }
}